/* General Layout Styling Rules */

/* resetting browser stuff */
*     {
  box-sizing: border-box;
}
html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
}

/* styling our overall page */
body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling our header */
header   {
  background: #222;
  color: #FFF;
  padding: 5px 7px;
}
/* logo */
#logo         {
  margin: 0; 
  display: inline-block;
}
#logo img    {
  width: 180px;
  height: 120px;
  vertical-align: middle;
}
/* styling our footer */
footer   {
  background: rgb(49, 49, 49);
  color: #777;
  padding: 20px;
  margin: 0;
  text-align: center;
}
footer img   {
  display: inline-block;
  margin: 0 auto 10px;
}
footer ul {
  list-style: none;
  margin: 0;
  
}
footer ul li {
  display: inline-block;
  color: white;
}
footer ul li a  {
  color: white;
  padding: 5px 15px;
}


/* responsive styling */
@media screen and (max-width: 420px) {
  html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 14px;
}
  .header {
    padding: 5px 10px;
  }
  #logo img    {
    width: 150px;
    height: 90px;
  }
/* styling our footer */
footer   {
  padding: 10px;
}
footer ul li a  {
  padding: 5px 8px;
}

}