/* Schedule Layout Styling Rules */

table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    margin-top: 35px;
    padding: 30px 0;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
th {
    height: 50px;
    text-align: center;
}
td {
    text-align: justify;
    width: 250px;
}
tr{
    font-size: 18px;
}
tr:hover {
    background-color: #c4bfbf
}
td > a {
    color: black;
}



/* responsive styling */
@media screen and (max-width: 420px) {
    table {
        border-collapse: collapse;
        width: 55%;
        margin: 0 auto;
        padding: 20px 0;
    }
    th, td {
        padding: 4px;
        border-bottom: 1px solid #ddd;
    }
    th {
        height: 40px;
        text-align: center;
    }

}
